@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #081425; /* Midnight Blue */
  --background-light: #0a1931; /* Deep Navy */
  --background-glow: #102347; /* Soft Blue Glow */

  --text: #ffffff; /* White */
  --text-primary: #ffd700; /* Gold */
  --text-secondary: #00ffff; /* Neon Cyan */
  --text-accent: #ff007f; /* Hot Pink */
  --text-subtle: #b0c4de; /* Light Steel Blue */

  --scrollbar: #b0c4de3f; /* Light Steel Blue */

  --card: #0f1b3d; /* Dark Sapphire */
  --card-highlight: #122a52; /* Deep Blue Glow */
  --card-neon: #154273; /* Bright Blue Accent */

  --button: #ff007f; /* Hot Pink */
  --button-hover: #ff4da6; /* Light Pink Glow */
  --button-secondary: #00ffff; /* Neon Cyan */
  --button-secondaryHover: #00d9e3; /* Bright Aqua */
  --button-special: #ffd700; /* Gold */

  --border-primary: #ffd700; /* Gold */
  --border-secondary: #00ffff; /* Electric Cyan */

  --gradient-start: #ff007f; /* Neon Pink */
  --gradient-middle: #ffd700; /* Gold */
  --gradient-end: #00ffff; /* Electric Cyan */
  --gradient-deep: #0a1931; /* Dark Navy */
  --gradient-intense: #154273; /* Bright Blue */
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }

  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    overflow-y: auto;
    overflow-x: hidden;
  }

  @media (max-width: 730px) {
    html {
      font-size: 58.125%;
    }
  }

  @media (max-width: 600px) {
    html {
      font-size: 56%;
    }
  }

  body {
    font-family: "Rajdhani", sans-serif;
    line-height: 1.6;
    outline: none;
    font-size: 1.8rem;
    width: 100vw;
    margin-inline: auto;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
  }

  input {
    background: none;
    font: inherit;
    color: inherit;
  }

  button:focus,
  input:focus {
    outline: none;
  }

  ::-webkit-scrollbar {
    width: 0.6rem;
    background: transparent;
    visibility: hidden;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 4px;
    visibility: hidden;
  }

  html:hover ::-webkit-scrollbar-thumb,
  html:active ::-webkit-scrollbar-thumb,
  html:focus-within ::-webkit-scrollbar-thumb {
    visibility: visible;
  }

  ::-webkit-scrollbar-thumb {
    transition: visibility 0.3s ease-in-out;
  }
}

@layer components {
  .action-button {
    @apply py-2 w-full text-white rounded-lg text-[1.6rem] font-medium hover:scale-105 transition-all duration-300 flex items-center justify-center;
  }
}
